@import "tailwindcss";

@theme {
	--color-dark-bg: #09090b;
	--color-dark-card: #18181b;
	--color-dark-border: #27272a;
	--color-dark-hover: #27272a;
	--color-dark-subtext: #a1a1aa;

	--font-sans: "Inter", system-ui, sans-serif;
	--font-mono: "JetBrains Mono", "Fira Code", monospace;
}

body {
	background-color: var(--color-dark-bg);
	color: #f4f4f5;
	font-family: var(--font-sans);
	min-height: 100vh;
}

/* Scrollbar minimalista */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: #09090b;
}
::-webkit-scrollbar-thumb {
	background: #27272a;
	border-radius: 3px;
}
